<%= render 'layouts/hero' %>

<div class="rectangle text-center px-4 py-8 md:px-6 lg:px-8">
  <p class="text-base md:text-lg">BlackCat est un site qui permet d’acheter des photos de chats.</p>
</div>

<%= render 'layouts/slider' %>
<%= render 'layouts/footer' %>
