<footer>
  <div class="footer-content">
    <div class="join-us">Rejoignez-nous</div>
    <div class="social-icons flex space-x-4 mt-4">
      <a href="#" class="social-icon hover:opacity-70"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="social-icon hover:opacity-70"><i class="fab fa-twitter"></i></a>
      <a href="#" class="social-icon hover:opacity-70"><i class="fab fa-instagram"></i></a>
      <a href="#" class="social-icon hover:opacity-70"><i class="fab fa-youtube"></i></a>
    </div>
  </div>

<section class="relative bg-[url('<%= asset_path('footer.jpg') %>')] bg-cover bg-center bg-no-repeat py-12 sm:py-20">
  <!-- J'ai augmenté la valeur de 'py' ici -->
  <div class="absolute inset-0 bg-white/75 sm:bg-transparent sm:from-white/95 sm:to-white/25 ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"></div>
  <div class="max-w-screen-xl mx-auto px-4 py-8 sm:px-6">
    <!-- J'ai augmenté la valeur de 'py' ici -->
    <div class="text-center py-8 sm:py-12">
      <p class="text-white font-extrabold text-lg sm:text-xl mb-3 sm:mb-4">
        <a href="#" class="hover:underline">
          Inscrivez-vous à la newsletter
        </a>
      </p>
      <a href="/page-de-newsletter" class="inline-block bg-C2B0A2 hover:bg-opacity-80 text-white px-6 py-3 sm:px-8 sm:py-4 rounded-full shadow-lg transition duration-300 ease-in-out">
        <strong class="block font-extrabold">
          Inscrivez-vous
        </strong>
      </a>
    </div>
  </div>
</section>


<section class="bgfooter-C2B0A2 text-white py-4 sm:py-8">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col sm:flex-row justify-between items-center">
    <div class="text-center sm:text-left mb-4 sm:mb-0">
      <p class="font-bold">&copy; 2023 BlackCat</p>
    </div>
    <div class="text-center sm:text-right space-y-2 sm:space-y-0 sm:space-x-6">
      <a href="#" class="hover:underline">About</a>
      <a href="#" class="hover:underline">Privacy Policy</a>
      <a href="#" class="hover:underline">Licensing</a>
      <a href="#" class="hover:underline">Contact</a>
    </div>
  </div>
</section>


</footer>
