<section class="relative bg-[url('<%= asset_path('hero.jpg') %>')] bg-cover bg-center bg-no-repeat">
  <div class="absolute inset-0 bg-white/75 sm:bg-transparent sm:from-white/95 sm:to-white/25 ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"></div>

  <div class="relative mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8">
    <div class="max-w-xl mx-auto text-center ltr:sm:text-left rtl:sm:text-right">
      <a href="#" class="inline-block bg-C2B0A2 hover:bg-opacity-80 text-white px-8 py-6 rounded-full shadow-lg transition duration-300 ease-in-out">
        <strong class="block font-extrabold text-xl hover:text-black">
          BlackCat
        </strong>
      </a>
    </div>
  </div>
</section>